<html>
    <head>
        <title>
            durkesh kumar database
        </title>
    </head>
    <body>
        
        <h1>add new user details</h1>
        <form action="" method="post">
            <lable>name:</lable>
            <input type="text" name="name" required>
            <lable>age:</lable>
            <input type="text" name="age" required>
            <lable>
                city:
            </lable>
            <input type="text" name="city" required>
            <input type="submit" value="save details">
        </form>
    </body>
</html>