<html>
    <head>
        <title>durkesh kumar project</title>
    </head>
    <body>
        <h1>update users details</h1>
        <form action="" method="post">
            <label>NAME:</label>
            <input type="text" name="name" value="{{datas.NAME}}" required>
            <label>
                age:
            </label>
            <input type="text" name="age" value="{{datas.AGE}}" required>
            <label>CITY:</label>
            <input type="text" name="city" value="{{datas.CITY}}" required>
            <input type="submit" value="update details">
        </form>
    </body>
</html> 